.div-flex {
  width: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  margin-right: 40%;
  background-color: #F0D290;
  padding: 2%;
}
.toDo {
  margin-right: 80px;
}
.formCard {
  background: "#F0D290";
  width: "100%";
  height: "300px";
  margin-top: "2%";
  padding: "5%";
}
